<template>
  <div class="create-knight">
    <img :src="knightImageUrl" class="knight-image" />
    <form @submit.prevent="createKnight" class="formulario-cavaleiro">
      <label for="name">Nome:</label>
      <input type="text" id="name" v-model="knight.name" required />

      <label for="nickname">Apelido:</label>
      <input type="text" id="nickname" v-model="knight.nickname" required />

      <label for="birthday">Data de Nascimento:</label>
      <input type="date" id="birthday" v-model="knight.birthday" required />

      <br />
      <div class="weapons">
        <h3>Armas</h3>
        <label for="weapons">Escolha suas armas:</label>
        <select name="weapons" id="weapons" @change="updateWeaponModels">
          <option value="sword">Espada</option>
          <option value="axe">Machado</option>
          <option value="bow">Arco e Flecha</option>
        </select>

        <label for="mod">Modelo da arma:</label>
        <select name="mod" id="mod">
          <option
            v-for="(model, index) in weaponModels"
            :value="model"
            :key="index"
          >
            {{ model }}
          </option>
        </select>

        <label for="attr">Atributo da arma:</label>
        <small>{{ weaponAttr }}</small>

        <button type="button" @click="addWeapon">Adicionar +</button>
      </div>

      <div class="selected-weapons">
        <h3>Armas selecionadas</h3>
        <ul>
          <li v-for="(weapon, index) in selectedWeapons" :key="index">
            {{ weapon.name }} - {{ weapon.mod }} - {{ weapon.attr }}
          </li>
        </ul>
      </div>

      <br />
      <div class="attributes">
        <h3>Atributos</h3>
        <label for="strength">Força:</label>
        <input
          type="number"
          id="strength"
          v-model="knight.attributes.strength"
          required
        />

        <label for="dexterity">Destreza</label>
        <input
          type="number"
          id="dexterity"
          v-model="knight.attributes.dexterity"
          required
        />

        <label for="constitution">Constituição</label>
        <input
          type="number"
          id="constitution"
          v-model="knight.attributes.constitution"
          required
        />

        <label for="intelligence">Inteligência</label>
        <input
          type="number"
          id="intelligence"
          v-model="knight.attributes.intelligence"
          required
        />

        <label for="wisdom">Sabedoria</label>
        <input
          type="number"
          id="wisdom"
          v-model="knight.attributes.wisdom"
          required
        />

        <label for="charisma">Carisma</label>
        <input
          type="number"
          id="charisma"
          v-model="knight.attributes.charisma"
          required
        />
      </div>

      <label for="keyAttribute">Atributo-chave:</label>
      <input
        type="text"
        id="keyAttribute"
        v-model="knight.keyAttribute"
        required
      />

      <button type="submit">Criar Guerreiro</button>
    </form>
  </div>
</template>

<script>
import { ref, computed } from "vue";
import axios from "axios";
import { useRouter } from "vue-router";
export default {
  name: "CreateKnight",
  setup() {
    const router = useRouter();
    const knight = ref({
      name: "",
      nickname: "",
      birthday: "",
      weapons: [],
      attributes: {
        strength: 0,
        dexterity: 0,
        constitution: 0,
        intelligence: 0,
        wisdom: 0,
        charisma: 0,
      },
      keyAttribute: "",
    });

    const weaponModifiers = {
      "Espada de uma mão": 1,
      "Espada de duas mãos": 2,
      Adaga: 3,
      "Machado de uma mão": 4,
      "Machado de duas mãos": 5,
      Martelo: 6,
      "Arco curto": 7,
      "Arco longo": 8,
      Besta: 9,
    };

    const selectedWeapons = ref([]);

    const weaponData = {
      sword: {
        models: ["Espada de uma mão", "Espada de duas mãos", "Adaga"],
        attr: "Força",
      },
      axe: {
        models: ["Machado de uma mão", "Machado de duas mãos", "Martelo"],
        attr: "Força",
      },
      bow: {
        models: ["Arco curto", "Arco longo", "Besta"],
        attr: "Destreza",
      },
    };

    function addWeapon() {
      const weapon = {
        name: document.getElementById("weapons").value,
        mod: weaponModifiers[document.getElementById("mod").value],
        attr: weaponData[document.getElementById("weapons").value].attr,
        equipped: true,
      };
      selectedWeapons.value.push(weapon);
      knight.value.weapons.push(weapon);
    }

    const weaponModels = ref([]);

    function updateWeaponModels() {
      const selectedWeapon = document.getElementById("weapons").value;
      weaponModels.value = weaponData[selectedWeapon].models;
    }

    const weaponAttr = computed(() => {
      const selectedWeapon = document.getElementById("weapons")?.value;
      return selectedWeapon ? weaponData[selectedWeapon].attr : "";
    });

    const knightImageUrl = computed(() => {
      const width = window.innerWidth;
      console.log(width);
      if (width <= 768) {
        return require("../assets/guerreiro_mobile.png");
      } else if (width <= 1024) {
        return require("../assets/guerreiro_tablete.png");
      } else {
        return require("../assets/guerreiro_desktop.png");
      }
    });

    async function createKnight() {
      try {
        const response = await axios.post(
          "https://knights.webtech-entrega-test.com.br/knights",
          knight.value
        );
        console.log("Resposta da API:", response);
        router.push({
          name: "KnightDetails",
          params: { id: response.data._doc._id },
        });
      } catch (error) {
        console.error("Erro ao enviar os dados para a API:", error);
      }
    }

    return {
      knight,
      knightImageUrl,
      createKnight,
      addWeapon,
      weaponAttr,
      weaponModels,
      selectedWeapons,
      updateWeaponModels,
    };
  },
};
</script>

<style scoped>
.create-knight {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250vh;
  background-color: #f0e9e2;
}

.knight-image {
  width: 600px;
  height: 800px;
  object-fit: contain;
  margin-right: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.formulario-cavaleiro {
  width: 400px;
}

.weapons {
  display: flex;
  flex-direction: column;
}

.attributes {
  display: flex;
  flex-direction: column;
}

button {
  font-family: "Cinzel", serif;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  background-color: #8b4513;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 5px;
}

@media (max-width: 767px) {
  .create-knight {
    flex-direction: column;
    height: auto;
    padding: 2rem;
  }

  .knight-image {
    width: 100%;
    max-width: 300px;
    height: 400px;
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .formulario-cavaleiro {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .create-knight {
    height: auto;
    padding: 2rem;
  }

  .knight-image {
    width: 100%;
    max-width: 400px;
    height: 600px;
  }

  .formulario-cavaleiro {
    width: 100%;
  }
}
</style>
