<template>
  <div class="home">
    <h1>Knights Challenge</h1>
    <nav>
      <ul>
        <li><button @click="startNewGame">Novo Jogo</button></li>
        <li><button @click="loadGame">Carregar Jogo</button></li>
        <li><button>Configurações</button></li>
        <li><button>Sair</button></li>
      </ul>
    </nav>
  </div>
</template>

<script>
import { useRouter } from "vue-router";

export default {
  name: "HomeView",
  setup() {
    const router = useRouter();

    function startNewGame() {
      router.push({ name: "CreateKnight" });
    }
    function loadGame() {
      router.push({ name: "KnightList" });
    }

    return { startNewGame, loadGame };
  },
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English&family=Cinzel&display=swap");

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url("../../public/img/guerreiro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

h1 {
  font-family: "IM Fell English", serif;
  font-size: 4rem;
  color: #fff;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  margin: 1rem 0;
}

button {
  font-family: "Cinzel", serif;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  background-color: #8b4513;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

button:hover {
  background-color: #6a3a10;
}
</style>
