<template>
  <div class="knight-list">
    <h1>Lista de Guerreiros</h1>
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Apelido</th>
          <th>Idade</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="knight in knights" :key="knight._doc._id">
          <td>{{ knight._doc.name }}</td>
          <td>{{ knight._doc.nickname }}</td>
          <td>{{ knight.age }}</td>
          <td>
            <router-link
              :to="{ name: 'KnightDetails', params: { id: knight._doc._id } }"
              >Detalhes</router-link
            >
          </td>
        </tr>
      </tbody>
    </table>
    <button @click="goToAddKnight">Adicionar Guerreiro</button>
    <button @click="goToHallOfHeroes">Hall dos Herois</button>
    <button @click="goHome">Iniciar Jogo</button>
  </div>
</template>

<script>
import axios from "axios";
import { onMounted, ref } from "vue";
import { useRouter } from "vue-router";

export default {
  name: "KnightList",
  setup() {
    const knights = ref([]);
    const router = useRouter();

    async function fetchKnights() {
      try {
        const response = await axios.get(
          "https://knights.webtech-entrega-test.com.br/knights"
        );
        knights.value = response.data;
      } catch (error) {
        console.error("Erro ao buscar guerreiros", error);
      }
    }

    function goHome() {
      router.push({ name: "home" });
    }

    function goToAddKnight() {
      router.push({ name: "CreateKnight" });
    }

    function goToHallOfHeroes() {
      router.push({ name: "HeroesList" });
    }

    onMounted(fetchKnights);

    return {
      knights,
      goToAddKnight,
      goToHallOfHeroes,
      goHome,
    };
  },
};
</script>

<style scoped>
.knight-list {
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 0 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

thead,
tbody {
  display: block;
}

tbody {
  max-height: 400px;
  overflow-y: auto;
}

tr {
  display: flex;
}

th,
td {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
}

th {
  background-color: #f4f1de;
}

button {
  background-color: #3d405b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  margin-right: 5px;
}

button:hover {
  background-color: #6a6d9e;
}

@media (max-width: 767px) {
  tbody {
    max-height: 250px;
  }

  button {
    margin-right: 0px;
    margin-bottom: 5px;
  }
}
</style>
