<template>
  <div class="knight-details">
    <div class="knight-info">
      <img :src="knightImageUrl" class="knight-image" />
      <h2>{{ knight.name }}</h2>
      <h3>{{ knight.nickname }}</h3>
      <p>Data de Nascimento: {{ knight.birthday }}</p>
      <p>Atributo-chave: {{ knight.keyAttribute }}</p>
      <h3>Atributos</h3>
      <ul>
        <li v-for="(value, key) in knight.attributes" :key="key">
          {{ key }}: {{ value }}
        </li>
        <li><strong>Ataque:</strong> {{ knightExtra.attack }}</li>
        <li><strong>Exp:</strong> {{ knightExtra.experience }}</li>
      </ul>
      <h3>Armas</h3>
      <ul>
        <li v-for="(weapon, index) in knight.weapons" :key="index">
          {{ weapon.name }} - {{ weapon.mod }} - {{ weapon.attr }}
        </li>
      </ul>
    </div>

    <div class="actions">
      <button @click="startEditing">Editar Guerreiro</button>
      <button @click="startGame">Lista de Guerreiros</button>
      <button @click="deleteKnight">Eliminar Guerreiro</button>
    </div>

    <div class="edit-form" v-if="editing">
      <label for="edit-name">Nome:</label>
      <input type="text" id="edit-name" v-model="knight.name" />

      <label for="edit-nickname">Apelido:</label>
      <input type="text" id="edit-nickname" v-model="knight.nickname" />

      <label for="edit-birthday">Data de Nascimento:</label>
      <input type="date" id="edit-birthday" v-model="knight.birthday" />

      <label for="edit-keyAttribute">Atributo-chave:</label>
      <input type="text" id="edit-keyAttribute" v-model="knight.keyAttribute" />

      <button @click="saveChanges">Salvar</button>
      <button @click="cancelEditing">Cancelar</button>
    </div>
  </div>
</template>

<script>
import { ref, computed, onMounted } from "vue";
import { useRoute, useRouter } from "vue-router";
import axios from "axios";
export default {
  name: "KnightDetails",
  setup() {
    const route = useRoute();
    const router = useRouter();
    const knightId = route.params.id;
    const knight = ref({});
    const knightExtra = ref({});

    async function fetchKnightDetails() {
      const response = await axios.get(
        `https://knights.webtech-entrega-test.com.br/knights/${knightId}`
      );
      knight.value = response.data._doc;
      knightExtra.value = response.data;
    }

    onMounted(fetchKnightDetails);

    const editing = ref(false);

    function startEditing() {
      editing.value = true;
    }

    async function saveChanges() {
      try {
        await axios.put(
          `https://knights.webtech-entrega-test.com.br/knights/${knightId}`,
          knight.value
        );
        editing.value = false;
        await fetchKnightDetails();
      } catch (error) {
        console.error("Erro ao atualizar o guerreiro", error);
      }
    }

    function cancelEditing() {
      editing.value = false;
    }

    function startGame() {
      router.push({ name: "KnightList" });
    }

    async function deleteKnight() {
      try {
        await axios.delete(
          `https://knights.webtech-entrega-test.com.br/knights/${knightId}`
        );
        router.push({ name: "KnightList" });
      } catch (error) {
        console.error("Erro ao eliminar o guerreiro", error);
      }
    }

    const knightImageUrl = computed(() => {
      const width = window.innerWidth;
      console.log(width);
      if (width <= 768) {
        return require("../assets/guerreiro_mobile.png");
      } else if (width <= 1024) {
        return require("../assets/guerreiro_tablete.png");
      } else {
        return require("../assets/guerreiro_desktop.png");
      }
    });

    return {
      knight,
      knightExtra,
      editing,
      startEditing,
      saveChanges,
      cancelEditing,
      startGame,
      deleteKnight,
      knightImageUrl,
    };
  },
};
</script>
<style scoped>
.knight-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  background-color: #f4f1de;
  padding: 20px;
  max-width: 100%;
  box-sizing: border-box;
}

.knight-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.knight-info img {
  width: 200px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.actions {
  margin: 20px 0;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  background-color: #3d405b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  margin-bottom: 10px;
}

button:hover {
  background-color: #6a6d9e;
}

.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background-color: #f2cc8f;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.edit-form input,
.edit-form select {
  margin: 5px;
  font-size: 16px;
  padding: 5px;
  width: 100%;
}

@media (max-width: 767px) {
  .knight-info img {
    width: 150px;
  }
}
</style>
