<template>
  <div>
    <audio id="background-audio" ref="audio" loop>
      <source src="../public/audio/soldiers.mp3" type="audio/mpeg" />
    </audio>
    <button @click="toggleAudio">Iniciar/Parar música</button>
  </div>
  <router-view />
</template>
<script>
import { ref } from "vue";

export default {
  setup() {
    const audio = ref(null);

    function toggleAudio() {
      if (audio.value) {
        if (audio.value.paused) {
          audio.value.play();
        } else {
          audio.value.pause();
        }
      }
    }

    return {
      audio,
      toggleAudio,
    };
  },
};
</script>
<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
